---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
/categories/garden/ /spaces/garden/ 301!
/categories/cafe-and-restaurant/ /spaces/cafe-and-restaurant/ 301!
/categories/terrace/ /spaces/terrace/ 301!
/categories/balcony/ /spaces/balcony/ 301!
/categories/roof/ /spaces/roof/ 301!
/en/categories/garden/ /en/spaces/garden/ 301!
/en/categories/cafe-and-restaurant/ /en/spaces/cafe-and-restaurant/ 301!
/en/categories/terrace/ /en/spaces/terrace/ 301!
/en/categories/balcony/ /en/spaces/balcony/ 301!
/en/categories/roof/ /en/spaces/roof/ 301!
