---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
Disallow: /cart/
Disallow: /search/
Disallow: /settings/
Disallow: /en/cart/
Disallow: /en/search/
Disallow: /en/settings/
Disallow: /admin/

Sitemap: {{ settings.siteUrl }}/sitemap.xml
