---
pagination:
  data: products
  size: 1
  alias: product
permalink: "/products/{{ product.slug }}/"
layout: layouts/product.njk
eleventyComputed:
  title: "{{ product.name }}"
  description: "{{ product.description_ar or product.description or product.name }} from Nestica outdoor furniture."
---
